// Specific CSS for your home-page
.banner {
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  background-color: white;
}

h1 {
  color: white;
}
// preguntarle a seba por que el scss del _home afecta a todos lados (al menos al index de artworks)