.welcome {
  height: fill;
  width: fill;
  // background: image-url('welcome') no-repeat;
  // background-size: cover;
  // background-image: linear-gradient(rgba(0,0,0,0.3) rgba(0,0,0,0.3));
}

#welcome-banner {
  background-color: transparent;
}
