<div class="container">

  <div class="artwork-cover my-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://pyxis.nymag.com/v1/imgs/daf/39f/e2fb5d2d0b5aba69046cd5ee6d17079464-07-matisse-cut-outs-jazz.2x.rhorizontal.w700.jpg)"></div>

  <div class="">
    <div>
      <h1><%= @artwork.title %></h1>
      <h2><%= @artwork.technique %></h2>
      <p><%= @artwork.price %></p>
    </div>

    <%= link_to "BUY",  new_artwork_purchase_path(@artwork)  %>

  </div>

</div>


