<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://galleryintell.com/wp-content/uploads/2013/10/Franz-Kline_Mahoning_ArtEx.jpg);">
  <div class="container">
    <h1><strong>Artvanced</strong></h1>
    <p>The artwork you always wanted, only one click away.</p>
    <a class="btn btn-flat" href="#">Browse now</a>
  </div>
</div>

<div class="card-category">
  <div class="container">
    <h2><strong>Show your work online and reach millions of buyers at once!</strong></h2>
  </div>
  <div class="container">
      <div class="cards">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://pyxis.nymag.com/v1/imgs/daf/39f/e2fb5d2d0b5aba69046cd5ee6d17079464-07-matisse-cut-outs-jazz.2x.rhorizontal.w700.jpg)">
          Paintings
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
          Sculptures
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
          Digital
        </div>
      </div>
    </div>
</div>
