<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://galleryintell.com/wp-content/uploads/2013/10/Franz-Kline_Mahoning_ArtEx.jpg);">
  <div class="container">
    <h1><strong>Artvanced</strong></h1>
    <p>The artwork you always wanted, only one click away.</p>
    <a class="btn btn-flat" href="#">Browse now</a>
  </div>
</div>

  <div class="container">
    <h2 class="my-4"><strong>Browse by category</strong></h2>
    <div class="container">
      <div class="cards">

        <%= link_to artworks_path do %>
          <div class="card-category" id="background-paintings">
            Paintings
          </div>
        <% end %>

        <%= link_to artworks_path do %>
          <div class="card-category" id="background-sculptures">
            Sculptures
          </div>
        <% end %>

        <%= link_to artworks_path do %>
          <div class="card-category" id=background-digital>
            Digital
          </div>
        <% end %>

      </div>
    </div>

</div>
