<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://galleryintell.com/wp-content/uploads/2013/10/Franz-Kline_Mahoning_ArtEx.jpg);">
  <div class="container">
    <h1><strong>Artvanced</strong></h1>
    <p>The artwork you always wanted, only one click away.</p>
    <a class="btn btn-flat" href="#">Browse now</a>
  </div>
</div>

  <div class="container">

    <div class="d-flex my-4 justify-content-between">
      <div><h2><strong>All available works</strong></h2></div>

      <%= button_to artworks_path, method: :get, id: :btn_technique do %>
        <div><h2>View all</h2></div>
      <% end %>

    </div>


    <div class="container">
      <div class="cards">
        <%= button_to artworks_path, params: {technique: :painting}, method: :get, id: :btn_technique do %>
          <div class="card-category" id="background-paintings">
            Paintings
          </div>
        <% end %>

        <%= button_to artworks_path, params: {technique: :sculpture}, method: :get, id: :btn_technique do %>
          <div class="card-category" id="background-sculptures">
            Sculptures
          </div>
        <% end %>

        <%= button_to artworks_path, params: {technique: :digital}, method: :get, id: :btn_technique do %>
          <div class="card-category" id=background-digital>
            Digital
          </div>
        <% end %>

      </div>
    </div>

</div>
