<!-- <div class="welcome"> -->
  <div class="container">
    <div class="banner" id="welcome-banner">

      <% 3.times do %>
        <%= button_to home_path, method: :get, id: :btn_image do %>
          <h1 class="btn"><strong>B U Y A R T N O W</strong></h1>
        <% end %>
      <% end %>

<!--       <h4 class="my-5">
      A R T V A N C E D is an international plataform that
      shows the <strong>work</strong> of thousands of artists
      and allows you to <strong>buy art directly</strong> and without extra fees
      </h4> -->

      <h3 class="my-5">
      Become and Art INVESTOR/COLLECTOR/OWNER today
      and join the market of the future
      </h3>

      <% 3.times do %>
        <%= button_to home_path, method: :get, id: :btn_image do %>
          <h1 class="btn"><strong>B U Y A R T N O W</strong></h1>
        <% end %>
      <% end %>

    </div>
  </div>
<!-- </div> -->

