#background-paintings {
  background: image-url('paintings_cover.png') no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,0,0.3) rgba(0,0,0,0.3))
}

#background-sculptures {
  background: image-url('sculptures_cover.png') no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,0,0.3) rgba(0,0,0,0.3))
}

#background-digital {
  background: image-url('digital_cover.png') no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,0,0.3) rgba(0,0,0,0.3))
}
